a.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%; 
  height: 40px;
  line-height: 40px;
  border-radius: 6px;
  background-color: #64854c;
  color: #fff;
  cursor: pointer;
}
